

#footerstyle {
    background-color: rgb(36, 39, 39);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

/* Sticky footer CSS */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;  /* Takes up remaining space */
}

.footer {
    position: sticky;
    top: 100vh;
    margin-top: auto;
}

.image-container {
    position: relative;
    width: 100%; /* Ensures container width is 100% */
}

.img-fluid {
    width: 100%; /* Makes the GIF span the full width of the container */
    height: auto; /* Maintains aspect ratio */
}

.btn-overlay {
    position: absolute;
    top: 90%; /* Adjust this value to move the button vertically */
    left: 10%; /* Adjust this value to move the button horizontally */
    transform: translate(-50%, -50%); /* Centers the button */
}